*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth;
}
body{
    background: black;
    color: white;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 10px 20px;
    
 }
 .logo span{
    color: #ff004f;
 }
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
   background-image: url(images/bg.jpg);
   background-position: center;
}

 
.container{
   padding: 10px 10%; 
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
position: fixed;
top: 0;
right: 0;
width: 100%;
z-index: 1000;
background-color: #1b1010;
}
 
 nav ul li{
  display: inline-block;  
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    font-size:18px;
    color:white;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: gray;
    left: 0;
    bottom: -4px;
    position: absolute;
    transition: 0.5s; 
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a.active{
    color: #FFD700;
}
nav ul li a.active::after{
    background: #FFD700;
}
.header-text{
    margin-top: 15%;
    font-size: 20px;

}
.header-text h1{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.header-text h1 span{
    color: #ff004f
}

/* ==========================about==================== */

#about{
    padding: 70px 0;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 8px;
}
.about{
 margin-bottom: 20px;
}
.about-col-2{
    width: 55%;
}
.sub-title{
    font-size: 48px;
    font-weight: 500;
    color: white;
}
.tab-titles{
    display: flex;
    padding: 20px 0 40px;
}
.tab-titles p{
    color: #73a0d4;
    font-size: 20px;
  }
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: gray;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
list-style: none;
margin: 10px 0;
}
.tab-contents ul li span{
    color:#99a9bb;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ======================================skills=========================== */

#skills {
     color:white; 
    padding: 20px 0;
}

.skills-container {
    padding: 10px 10%;
}

.skills-sub-title {
    font-size: 48px;
    font-weight: 500;
    color: white;
    margin-bottom: 30px;
}

.skills-grid {
    display: grid;
    gap: 40px;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 600px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px) {
    .skills-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}


.skill-category {
    background: #262626; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    border-radius: 8px; 
    padding: 20px;
    transition: transform 0.3s ease;
}

.skill-category:hover {
    background: #611d1d;
    transform: translateY(-5px); 
}

.skill-category h3 {
    color: #99a9bb; 
    margin-bottom: 15px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.skills-list span {
    background: #99a9bb; 
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px; 
    font-size: 14px;
}

  /* ============================services========================= */

  #services{
    padding: 10px 0;
}
.services-list{
   display:  grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list h2{
    color: #99a9bb;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 16px;
     font-weight: 300;
     border-radius: 10px;
     transition: background 0.5s, transform 0.5s;
} 
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #611d1d;
    transform: translateY(-10px);
}

/* ==================contact================= */

#contact{
    margin-top: 30px;
}
.contact-left{
   flex-basis: 40%; 
}
.contact-right{
    flex-basis: 55%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: brown;
    margin-right: 10px;
    font-size: 20px;
}
.social-icons{
    margin-top: 40px;
}
.social-icons a{
text-decoration: none;
font-size: 30px;
margin-right: 15px;
color: gainsboro;
display: inline-block;
transition: transform 0.5s;
}
.social-icons a:hover{
    color: brown;
    transform: translateY(-3px);
}
.btn{
    display: inline-block;
    background: #ff004f;
    border-radius: 6px;
}
 .contact-right form{
    width: 100%;
 }
 form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 10px 0;
    color: white;
    font-size: 18px;
    border-radius: 5px;

 }
 form .btn{
padding: 13px 60px;
font-size: 20px;
margin-top: 10px;
cursor: pointer;
color: white;
border: none;
 }
 .copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 25px;
 }

 /* =========================for smaller screen ===============*/

 nav .fa-solid{
    display: none;   
}
 @media only screen and (max-width: 600px){
    .header-text{
        margin-top: 50%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
        }
        nav .fa-solid{
            display: block;
            font-size: 20px;
        }
        nav ul{
            background: #611d1d;
            position: fixed;
            top: 0;
            right: -180px;
            width: 180px;
            height: 100vh;
            padding-top: 50px;
            z-index: 2;
            transition: right 0.5s;
        }
        nav ul li{
            display: block;
            margin: 25px;
        }
        nav ul .fa-solid{
            position: absolute;
            top: 25px;
            left: 25px;
            cursor: pointer;
        }
        .sub-title{
            font-size: 40px;
        }
        .about-col-1, .about-col-2{
            flex-basis: 100%;
        }
        .about-col-1{
            margin-bottom: 30px;
        }
        .about-col-2{
            font-size: 15px;
        }
        .tab-links{
            font-size: 16px;
            margin-right: 40px;
        }
        .contact-left, .contact-right{
            flex-basis: 100%;
        }
        .copyright{
           font-size: 14px; 
        }
 
}